/* src/components/Header.css */

.header-section {
  padding: 50px 0 20px 0;
  background-color: #fef3fc; /* Incorporated new color */
}

.main-header {
  font-size: 2.5em; /* Reduced from 3em to 2.5em */
  margin: 0;
  color: #333;
}

.sub-header {
  font-size: 1.2em; /* Reduced from 1.5em to 1.2em */
  color: #555;
  margin-top: 10px;
}
